<h2>Edit Personal Information</h2>
<form ng-submit="usersEdit.update()">
  <div class="form-group">
    <input type="text" class="form-control" id="title" ng-model="usersEdit.user.title" placeholder="Title">
  </div>
  <div class="form-group">
    <input type="text" class="form-control" id="name" ng-model="usersEdit.user.firstName" placeholder="First Name">
  </div>
  <div class="form-group">
    <input type="eventImage" class="form-control" id="eventImage" ng-model="usersEdit.user.lastName" placeholder="Last Name">
  </div>
  <div class="form-group">
    <input type="middleNames" class="form-control" id="middleNames" ng-model="usersEdit.user.middleNames" placeholder="Middle Name(s)">
  </div>
  <div class="form-group">
    <input type="date" class="form-control" id="DoB" ng-model="usersEdit.user.DoB" placeholder="Date of birth">
  </div>
  <div class="form-group">
    <input type="address" class="form-control" id="homeAddress" ng-model="usersEdit.user.homeAddress" placeholder="Home Address">
  </div>
  <div class="form-group">
    <input type="postcode" class="form-control" id="postcode" ng-model="usersEdit.user.postcode" placeholder="Postcode">
  </div>
  <div class="form-group">
    <input type="text" class="form-control" id="mobileNumber" ng-model="usersEdit.user.mobileTel" placeholder="Mobile number">
  </div>
  <div class="form-group">
    <input type="text" class="form-control" id="otherTel" ng-model="usersEdit.user.otherTel" placeholder="Additional number">
  </div>
  <div class="form-group">
    <input class="form-control" type="email" name="email" ng-model="usersEdit.user.email" placeholder="Email">
  </div>
  <div class="form-group">
    Has solicitor? <input class="form-control" type="checkbox" name="hasSolicitor" ng-model="usersEdit.user.hasSolicitor" placeholder="hasSolicitor">
  </div>
  <div class="form-group">
    <input class="form-control" type="text" name="Solicitor Name" ng-model="usersEdit.user.solicitorName" placeholder="Solicitor ANme">
  </div>
  <div class="form-group">
    <input class="form-control" type="text" name="hasSolicitor" ng-model="usersEdit.user.solicitorAddress" placeholder="Solicitor Address">
  </div>
  <div class="form-group">
    <input class="form-control" type="text" name="Solicitor Company Name" ng-model="usersEdit.user.solicitorCompanyName" placeholder="Solicitor Company Name">
  </div>
  <div class="form-group">
    <input class="form-control" type="text" name="Solicitor Email" ng-model="usersEdit.user.solicitorEmail" placeholder="Solicitor Email">
  </div>
  <div class="form-group">
    <input class="form-control" type="text" name="Solicitor Tel" ng-model="usersEdit.user.solicitorTel" placeholder="Solicitor Tel">
  </div>
  <p ng-if="usersEdit.updated">updated!</p>
  <input type="submit" class="btn btn-primary" value="Update">
</form>
Upload File:

<form>
  <input type="file" ng-file-select="fileSelected($files)" accept="'image/*'">
  <input type="submit" ng-click="uploadFile()" >
</form>
</div>
